*.pyc
.vs/Translate/v16/.suo
Application.build
翻译常用.txt
python37.dll
Application.exe
已汉化内容.txt
icon.ico
icon.png
\build
\dist
*.spec
py2jstranslate.py
test.py
test.build
test.dist
editor.png
main.png
/*.ERB
venv
